<html>
<body>

<h1>Bienvenido al Ahorcado</h1>
<br>
Cantidad de Letras: <%=@cantidadDeLetras%>
<form>
<label>Ingrese una letra: <input name="inputLetra" id="inputLetra" type="text"/></label>
</form>
</body>
</html>
